*{
    margin:0;
    padding:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing:border-box;
}
.container{
    width:100%;
    height:100vh;
    background:white;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
.music{
    background-color:rgb(252, 250, 125) ;
    width:400px;
    padding:25px 35px;
    text-align:center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .icons{
    border-radius: 50%;
    width:40px;
    height:40px;
    line-height:40px;
    background-color:white;
    color: rgb(231, 212, 34);
    box-shadow: 0 5px 10px rgba(248, 237, 77, 0.22);
}
.song-img{
    height:230px;
    border-radius: 50%;
    width:230px;
    border:8px solid white;
    box-shadow:0 10px 60px rgba(248, 237, 77, 0.22);
}
.music h1{
    font-size: 25px;
    font-weight: 400;
    color:green;
    margin-top:20px;
}
.music p{
    font-size:20px;
    color:rgb(255, 88, 88);
}
#styling{
    -webkit-appearance: none;
     width:100%;
     height:6px;
     background-color:rgb(231, 212, 34);
     border-radius: 4px;
     cursor:pointer;
     margin:40px 0;
}
#styling::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: rgb(231, 212, 34);
    width:30px;
    height:30px;
    border-radius: 50%;
    border:8px solid white;
    box-shadow: 0 5px 5px rgba(248, 237, 77, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width:60px;
    height:60px;
    margin:20px;
    background:white;
    display: inline-flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    color:rgb(231, 212, 34);
    box-shadow: 0 10px 20px rgba(248, 237, 77, 0.22);
    cursor:pointer;
}
.controls div:nth-child(2){
    transform: scale(1.5);
    background-color: white;
    color:rgb(231, 212, 34);
}
           
